
div {
    background-color: white;
    display: inline-block;
    padding: 2px 10px;
    border-style: double;
    border-radius: 5px;
    border-color: rgb(138, 138, 236);
    color:rgb(138, 138, 236);
    font-weight: bold;
    font-family: arial;
}

div:hover {
    cursor: pointer;
    background-color:#CDCDCD;
    color: rgb(100, 84, 84);
}

p { 
    text-decoration: rgb(138, 138, 236);


}